.headerLayout{
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: var(--dark-background);
    .navLinks{
        width: 30%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .link{
            color:white;
        }
    }
}