@use "../scss/base/layout";
@use "../scss/base/reset";
:root{
  --pink: #D90BCB;
  --violet-1: #0339A6;
  --violet-2: #023373;
  --background: #022340;
  --dark-background: #0c192c;
  --ligth-blue: #30F2DF;
  --scrollbar-width:5px
}