.aboutCont{
    width: 60%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
    .titleImgCont{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 20px;
        .titleAnimated {
            font-size: 4em;
            background: linear-gradient(to right, var(--ligth-blue), #fff 35%, var(--pink));
            background-size: 200% auto;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
            color: transparent;
            animation: gradient 3s linear infinite;
        }
        .img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 1px 1px 20px var(--pink);
        }
    }
    
    p{
        color:white;
        text-align: start;
        font-size: 1rem;
        span{
            color:var(--ligth-blue) ;
            font-size: 1.5em;
        }
        em{
            color:var(--ligth-blue);
        }
    }
    button{
        color: var(--ligth-blue);
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
        padding: 10px 20px;
        border: 1px solid var(--ligth-blue);
        border-radius: 20px;
        &:hover{
            background: var(--ligth-blue);
            color: black;
            box-shadow: 1px 1px 15px var(--ligth-blue);
        }
    }
}

@keyframes gradient{
    0%{
        background-position: 0% 75%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 70%;
    }
}