.sectionCont{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    justify-content: center;
    animation: appearence 1s;
    animation-fill-mode: forwards;
}

@keyframes appearence{
    from {
        opacity: 0; /* Opacidad inicial: 0 */
    }
    to {
        opacity: 1; /* Opacidad final: 1 */
    }
}