.cont{
    width: 100%;
    min-height: 76vh;
    color: var(--ligth-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .header{
        width: 80%;
        min-height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-evenly;
        .select{
            font-size: 16px;
            background: var(--dark-background);
            padding: 5px 10px;
            border: 1px solid white;
        }
        .addButton{
            padding:5px 10px;
            border: 1px solid var(--ligth-blue);
            background: var(--ligth-blue);
            cursor: pointer;
            color: black;
            border-radius: 20px;
            &:hover{
                
                color: black;
                box-shadow: 1px 1px 10px var(--ligth-blue);
            }
        }
    }
    .skillCont{
        width: 80%;
        height: 68vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .skills{
            width: 100%;
            height: 90%;
            overflow-y: scroll;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;
            gap: 30px;
            &::-webkit-scrollbar {
                width: var(--scrollbar-width);
            }
            &::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.1);
            }
             
            &::-webkit-scrollbar-thumb {
                background:var(--ligth-blue);
            }
            .techSkill{
                width: 150px;
                height: 150px;
                display: flex;
                background: rgba(0, 0, 0, 0.5);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                h3{
                    color: var(--ligth-blue);
                }
            }
            .softCard{
                height: 50px;
                width: 180px;
                padding: 10px 20px;
                background: linear-gradient(to right, var(--ligth-blue), var(--pink));
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
